._a_ {
	color: green;
	animation: _a_;
}

@keyframes _b_ {
	0% { left: 10px; }
	100% { left: 20px; }
}

._b_ {
	animation: _b_;
}

@keyframes c {
	0% { left: 10px; }
	100% { left: 20px; }
}

._c_ {
	animation: _c1_;
	animation: _c2_, _c3_, _c4_;
}

@keyframes d {
	0% { left: 10px; }
	100% { left: 20px; }
}

.d1 {
	animation: d1;
	animation: d2, d3, d4;
}

.d2 {
	animation: _d2_;
}
