@value primary, secondary from './colors.css';
@value other-primary: 'red';
@value other-secondary 'blue';

.other-class {
  display: inline;
}

.imported-with-url {
  background: url("img.png");
}

.imported-with-color {
  color: primary;
}
