@import url(test-other.css) (min-width: 100px);

@value def from './values.css';
@value other from './values.css';
@value other from './values.css';
@value something from './something.css';
@value foo: blue;
@value bar: block;

.ghi {
  color: def;
}

.class {
  color: foo;
}

.other {
  display: bar;
}

.other-other {
  width: something;
}

.green {
  color: other;
}

.foo {
  prop: def;
  duplicate: other;
}
