@value v-def from './values.css';
@value v-foo from './less-file.less';
@value v-bar from './scss-file.scss';
@value v-baz from './sass-file.sass';

:global(.globalClassName) {
  color: orange;
}

.ghi {
  color: v-def;
}

.class {
  color: v-foo;
  composes: lessClass from "less-file.less";
}

.other {
  color: v-bar;
  composes: scssClass from "scss-file.scss";
}

.last {
  color: v-baz;
  composes: sassClass from "sass-file.sass";
}

.otherClassName {
  composes: globalClassName from global;
  background: #000;
}
