.a {
	background: url(./module);
	background: url("./module");
	background: url('./module');
	background: url("./module#?iefix");
	background: url("#hash");
	background: url("#");
	background: url(data:image/png;base64,AAA);
	background: url(http://example.com/image.jpg);
	background: url(//example.com/image.png);
	background: green url(data:image/png;base64,AAA) url(http://example.com/image.jpg) url(//example.com/image.png) url(./module) xyz;
}
