@charset "UTF-8";

@import 'imported.css';

/* Comment */

.class {
  color: red;
  background: url("./url/img.png");
}

.class-duplicate-url {
  background: url("./url/img.png");
}

:root {
  --foo: 1px;
  --bar: 2px;
}

.class { a: b c d; }

.two {}

.u-m\+ { a: b c d; }

.class { content: "\F10C" }

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.class {
  content: "\2193";
  content: "\2193\2193";
  content: "\2193 \2193";
  content: "\2193\2193\2193";
  content: "\2193 \2193 \2193";
}

.-top {}
.\-top {}

#\#test {}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid.\-top {
  align-items: flex-start;
}
.grid.-top {
  align-items: flex-start;
}
.grid.\-middle {
  align-items: center;
}
.grid.\-bottom {
  align-items: flex-end;
}

.u-m\00002b {}

.u-m00002b {}

#u-m\+ {}

body {
  font-family: '微软雅黑'; /* some chinese font name */
}

.myStyle {
  content: '\e901';
}

.myStyle {
  content: '\E901';
}

.♫ {}

.\3A \`\( {} /* matches elements with class=":`(" */
.\31 a2b3c {} /* matches elements with class="1a2b3c" */
#\#fake-id {} /* matches the element with id="#fake-id" */
#-a-b-c- {} /* matches the element with id="-a-b-c-" */
#© {} /* matches the element with id="©" */

:root {
  --title-align: center;
  --sr-only: {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
  };
}
