@charset "UTF-8";

@import 'imported.css';

/* Comment */

.class {
  color: red;
  background: url("./url/img.png");
}

.class-duplicate-url {
  background: url("./url/img.png");
}

:root {
  --foo: 1px;
  --bar: 2px;
}

.class { a: b c d; }

.two {}

.u-m\+ { a: b c d; }

.class { content: "\F10C" }

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.class {
  content: "\2193";
  content: "\2193\2193";
  content: "\2193 \2193";
  content: "\2193\2193\2193";
  content: "\2193 \2193 \2193";
}
