._a_ {
	color: green;
}

@keyframes _bounce_ {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	5% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes _bounce2_ {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	5% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

._bounce_ {
	animation-name: _bounce_;
	animation: _bounce2_ 1s ease;
}

._bounce2_ {
	color: green;
	animation: _bounce_ 1s ease;
	animation-name: _bounce2_;
}

._bounce3_ {
	animation: _bounce_ 1s ease, _bounce2_
}

._bounce4_ {
	animation: _bounce_ 1s ease, _bounce2_;
}

._b_ {
	color: green;
}
